vendor/*
private/*
.idea/
.docksal/
.editorconfig
/.gitattributes
web/*
!web/sites
web/sites/*
!web/sites/default
web/sites/default/*
!web/sites/default/settings.php
!web/sites/default/files
!web/modules
!web/themes
web/modules/*
!web/modules/custom


files/
/settings.php

**/*.sql
**/*.tar.gz
**/*.zip
**/node_modules